/* Feneral Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: #555;
    font: normal 16px sans-serif;
}

nav {
    list-style: none;
}

a {
    text-decoration: none;
    opacity: 0.7;
}

a:hover {
    opacity: 1;
}

/* Header Styles */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    animation: 1s fadein 0.5s forwards;
    -webkit-animation: 1s fadein 0.5s forwards;
    opacity: 0;
}

@keyframes fadein {
    100% {
        opacity: 1;
    }
}

header nav {
    display: flex;
    margin-right: -15px;
}

header nav li {
    margin: 0 15px;
}